@model HamroDokan.Models.Category

@{
    ViewBag.Title = "Browse";
}

<h2>Browse Category:@Model.Name</h2>

<ul>
    @foreach(var iteam in Model.Items)
    {
    <li>
        @Html.ActionLink(iteam.Title,"Details",new { id=iteam.ItemId})
    </li>
      
    }
</ul>